<mat-card class="example-card">
    <!-- <mat-card-header>
        <mat-card-title>Error</mat-card-title>
    </mat-card-header> -->
    <img mat-card-image src="../../../../assets/images/404.gif" alt="ERROR">
    <mat-card-content>
        <p>
            No podemos mostrar la pagina solicitada, puede ingresar nuevamente o intentar ir a la pagina principal.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Ingresar</button>
        <button mat-button color="primary"><a routerLink="/home">Pagina Principal</a></button>
    </mat-card-actions>
</mat-card>