<footer layout="row" class="md-padding">
    <div id="btmFooter" flex>
        <p class="mat-typography" style="padding: 1em">La información a la que Ud. tiene acceso es confidencial y está dirigida solamente a las personas que posee el usuario y contraseña correspondiente para el ingreso al sistema. Dicha información solo debe ser considerada a título informativo. Todo
            acceso no autorizado, uso, reproducción, o divulgación está prohibido. PARAMEDIC no asumirá responsabilidad ni obligación legal alguna por cualquier información incorrecta o alterada contenida en el sistema.
        </p>
    </div>
</footer>