<mat-tab-group [selectedIndex]='selectTab'>
    <mat-tab label="Consumos">
        <app-actividades-clientes-consumos [clienteId]=clienteId></app-actividades-clientes-consumos>
    </mat-tab>
    <mat-tab label="Reclamos">
        <app-actividades-clientes-reclamos [clienteId]=clienteId></app-actividades-clientes-reclamos>
    </mat-tab>
    <mat-tab label="Gestiones">
        <app-actividades-clientes-gestiones [clienteId]=clienteId></app-actividades-clientes-gestiones>
    </mat-tab>
    <mat-tab label="Cuenta Corriente">
        <app-actividades-clientes-cuentacorriente [clienteId]=clienteId></app-actividades-clientes-cuentacorriente>
    </mat-tab>
</mat-tab-group>