<h1>
    Hallazgo <small> <small><small> <small>{{hallazgo.titulo | uppercase}}</small></small>
    </small>
    </small>
</h1>
<button mat-raised-button [routerLink]="['/hallazgos']">Volver</button>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Número" value="{{hallazgo.nro}}" type="number">
    </mat-form-field>
    <mat-form-field style="width: 178px;">
        <input matInput [matDatepicker]="picker3" placeholder="Fecha" [value]="hallazgo.fecha">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Motivo ">
            <mat-option *ngFor="let item of gradoComplejidad " [value]="item.ID ">
                {{item.Descripcion}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width ">
        <input matInput placeholder="Titulo " value="{{hallazgo.titulo}} " type="text ">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Estado ">
            <mat-option *ngFor="let item of gradoComplejidad " [value]="item.ID ">
                {{item.Descripcion}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <table mat-table [dataSource]="hallazgo.registraciones" matSort class="mat-elevation-z8">
        <!-- id: number;
            usuario: string;
            fecha: Date | string;
            hora: Date | string;
            clasificacion: number;
            descripcion: string;
            adjunto: string; -->
        <!-- Position Column -->
        <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 220px !important"> Usuario </th>
            <td mat-cell *matCellDef="let element">
                <!-- Mediante routerLink -->
                <!-- <a [routerLink]="['detail', element.position]">{{element.position}}</a> -->
                <!-- Mediante Funcion() -->
                <button mat-icon-button>{{element.usuario}}</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>
        <ng-container matColumnDef="hora">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora </th>
            <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
        </ng-container>
        <ng-container matColumnDef="clasificacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Clasificacion </th>
            <td mat-cell *matCellDef="let element"> {{element.clasificacion}} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
        <ng-container matColumnDef="adjunto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Adjunto </th>
            <td mat-cell *matCellDef="let element"> {{element.adjunto}} </td>
        </ng-container>

        <!-- <button mat-raised-button color="primary"><a [routerLink]="['detail', {{element.position}}]">detail</a></button> -->

        <!-- <ng-container matColumnDef="ver">
                <th mat-header-cell *matHeaderCellDef> Ver </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary">
                            <a [routerLink]="['detail', element.position]">detail</a>
                        </button>
                </td>
            </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</form>