<div class="mat-typography">
    <h1>
        Hallazgo <small> <small><small> <small>{{hallazgo.titulo | uppercase}}</small></small>
        </small>
        </small>
    </h1>
</div>
<div>
    <button mat-raised-button [routerLink]="['/hallazgos']">Volver</button>
    <button mat-raised-button type="submit" (click)="guardarHallazgo()">Guardar</button>
    <!-- <button mat-raised-button type="button" (click)="CheckForm()">CheckForm({{hallazgoForm.valid}})</button> -->
    <!--(click)="guardarHallazgo()" -->
</div>
<br />
<form class="example-form" [formGroup]="hallazgoForm" (ngSubmit)="guardarHallazgo()" novalidate="novalidate">
    <!--#form="ngForm"-->
    <div id="cabecera">

        <mat-form-field class="margin-lr5" [hidden]="id=='nuevo'">
            <input matInput placeholder="Número" formControlName="numero" type="number">
        </mat-form-field>

        <mat-form-field class="margin-lr5" style="width: 178px;">
            <input matInput [matDatepicker]="picker3" placeholder="Fecha" formControlName="fecha" name="dpFecha">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="margin-lr5">
            <mat-select placeholder="Motivo" formControlName="motivo">
                <mat-option *ngFor="let item of motivos" [value]="item.id ">
                    {{item.descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="margin-lr5">
            <input matInput placeholder="Titulo" formControlName="titulo" type="text" name="txtTitulo">
            <mat-error *ngIf="!hallazgoForm.controls.titulo.valid">
                Error hallazgoForm.controls.titulo
            </mat-error>
        </mat-form-field>
        <mat-form-field class="margin-lr5">
            <mat-select placeholder="Estado" formControlName="estado">
                <mat-option *ngFor="let item of estados" [value]="item.id ">
                    {{item.descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <br />
    <div>
        <div id="leftPanel" [hidden]="id=='nuevo'">
            <div>
                <mat-card>
                    <mat-card-header style="background-color: #f5f5f5">
                        <button mat-icon-button type="button" [hidden]="this.hallazgo.registraciones[this.hallazgo.registraciones.length - 1].id == 0">
                                    <mat-icon class="icon-center"style="margin-right: 5px;" (click)="nuevaRegistracion();">add_circle</mat-icon>
                            </button>
                        <p>Registraciones</p>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-table id="tableR" [dataSource]="mtRegistraciones" matSort class="mat-elevation-z8">
                            <ng-container matColumnDef="usuario">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Usuario </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="mat-cell-first">
                                    <span class="mobile-label">Usuario:</span>
                                    <button type="button" (click)="verRegistracion(element)" mat-icon-button class="mat-cell-button">{{element.usuario}}</button>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="fecha">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Fecha
                                </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Fecha:</span> {{element.fecha | date: 'dd/MM/yyyy'}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="hora">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Hora </mat-header-cell>
                                <mat-cell *matCellDef="let element"><span class="mobile-label">Hora:</span> {{element.hora.substring(0,5)}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="descripcion">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="dcRegistraciones"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: dcRegistraciones;"></mat-row>
                        </mat-table>
                    </mat-card-content>
                </mat-card>
            </div>
            <br />
            <br />
        </div>
        <!-- <div class="rightPanelNew"> -->
        <div [className]="id == 'nuevo' ? 'rightPanelNew' : 'rightPanelEdit'">
            <mat-card>
                <mat-card-header style="background-color: #f5f5f5">
                    <p style="width: 160px;">Detalle Registracion</p>

                </mat-card-header>
                <mat-card-content>
                    <mat-form-field style="width:100% !important">
                        <textarea matInput placeholder="Descripcion" formControlName="reg_descripcion" #ta_reg_descripcion></textarea>
                    </mat-form-field>
                    <br />
                    <mat-divider></mat-divider>
                    <mat-list>
                        <h3 mat-subheader>Adjuntos</h3>
                        <mat-list-item *ngFor="let adjunto of reg_adjuntos">
                            <mat-icon mat-list-icon>folder</mat-icon>
                            <h4 mat-line>{{adjunto}}</h4>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
            <br />
            <br />
        </div>
    </div>
</form>