#cabecera {
    float: left;
    width: 100%;
}

#leftPanel {
    float: left;
}

#rightPanel {
    float: left;
    min-width: 65%;
    max-width: 900px;
}

.margin-lr5 {
    margin-left: 5px;
    margin-right: 5px;
}

#tableR {
    min-width: 400px;
}

.mobile-label {
    display: none;
}

@media(max-width: 600px) {
    #tableR {
        min-width: auto !important;
    }
    .mobile-label {
        width: 85px;
        display: inline-block;
        font-weight: bold;
    }
    .mat-header-row {
        display: none;
    }
    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
    }
    .mat-cell-first {
        padding-left: 0px !important;
    }
    .mat-cell-button {
        width: auto !important;
    }
}