#cabecera {
    float: left;
    width: 100%;
}

#leftPanel {
    float: left;
}

.rightPanelEdit {
    float: left;
    min-width: 65%;
    max-width: 900px;
}

.rightPanelNew {
    float: left;
    min-width: 100%;
}

.margin-lr5 {
    margin-left: 5px;
    margin-right: 5px;
}

#tableR {
    min-width: 400px;
}

.mobile-label {
    display: none;
}

[hidden] {
    display: none;
}

@media(max-width: 600px) {
    #tableR {
        min-width: auto !important;
    }
    .mobile-label {
        width: 85px;
        display: inline-block;
        font-weight: bold;
    }
    .mat-header-row {
        display: none;
    }
    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
    }
    .mat-cell-first {
        padding-left: 0px !important;
    }
    .mat-cell-button {
        width: auto !important;
    }
}


/* Drop Zone */

.drop-zone {
    border: dotted 3px lightgray;
    opacity: 0.5;
    color: #666;
    text-align: center
}

.file-over {
    border: dotted 3px dodgerblue;
}

.table {
    margin-top: 30px;
}

.text-green {
    color: green
}