#cabecera {
    float: left;
    width: 100%;
}

#leftPanel {
    float: left;
}

.rightPanelEdit {
    float: left;
    min-width: 65%;
    max-width: 900px;
}

.rightPanelNew {
    float: left;
    min-width: 100%;
}

.margin-lr5 {
    margin-left: 5px;
    margin-right: 5px;
}


/* .long-form-field {
    min-width: 50%;
} */

#tableR {
    min-width: 400px;
}

.mobile-label {
    display: none;
}

[hidden] {
    display: none;
}

.mat-column-fecha {
    flex: 0 0 85px;
}

.mat-column-hora {
    flex: 0 0 80px;
}

.very-short-form-field {
    max-width: 80px;
}

.short-form-field {
    max-width: 110px;
}

.long-form-field {
    min-width: 300px;
}

img:hover {
    width: 100px;
    height: 100px;
}

@media(max-width: 600px) {
    mat-form-field {
        width: 100% !important;
    }
    mat-card {
        width: 100%;
    }
    .rightPanelEdit {
        min-width: 100%;
        max-width: 900px;
    }
    #tableR {
        min-width: auto !important;
    }
    .mobile-label {
        width: 85px;
        display: inline-block;
        font-weight: bold;
    }
    .mat-header-row {
        display: none;
    }
    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
    }
    .mat-cell-first {
        padding-left: 0px !important;
    }
    .mat-cell-button {
        width: auto !important;
    }
    .mat-column-fecha {
        flex: auto !important;
    }
    .mat-column-hora {
        flex: auto !important;
    }
}


/* Drop Zone */

.drop-zone {
    border: dotted 3px lightgray;
    opacity: 0.5;
    color: #666;
    text-align: center
}

.file-over {
    border: dotted 3px dodgerblue;
}

.table {
    margin-top: 30px;
}

.text-green {
    color: green
}