<!-- <mat-sidenav-container>
    <mat-sidenav #mainSideNav mode="side" opened>
        <mat-toolbar>
            <img src="../assets/images/alfresco-logo.png" style="height:60%">
            <span fxFlex></span> {{appName}}
        </mat-toolbar>
        <mat-nav-list>
            <a *ngFor="let menuItem of mainMenuItems" mat-list-item mat-ripple [style.position]="'relative'" routerLinkActive="selected" [routerLink]="[menuItem.path]">
                <mat-icon mat-list-icon *ngIf="menuItem.icon">{{menuItem.icon}}</mat-icon>
                <span>{{menuItem.title}}</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="mainSideNav.toggle()">
      <mat-icon *ngIf="mainSideNav.opened">chevron_left</mat-icon>
      <mat-icon *ngIf="!mainSideNav.opened">menu</mat-icon>
    </button> {{(activeMenuItem$ | async)?.title}}
        <span fxFlex></span>
        <button mat-icon-button [matMenuTriggerFor]="dropdownMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-sidenav-container>
<mat-menu #dropdownMenu x-position="before">
    <a mat-menu-item href="" (click)="onLogout($event)">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
    </a>
    <a mat-menu-item href="" routerLink="/about">
        <mat-icon>info_outline</mat-icon>
        <span>About</span>
    </a>
</mat-menu> -->
<app-header></app-header>
<!-- <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container> -->
<!-- <mat-sidenav-container class="example-container" *ngIf="shouldRun">
    <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container> -->

<div>
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>


<!-- <button routerLink="/hallazgos">Lista H</button>
<button routerLink="/hallazgos/detail/nuevo">Orders</button>
<button routerLink="">Home</button>
<app-hallazgos-list></app-hallazgos-list>
<button mat-icon-button><a [routerLink]="['home']"></a>button</button>
<app-footer></app-footer> -->